body {
	font-family: 'Roboto', sans-serif;
}

.content {
	width: 90%;
	max-width: 960px;
	margin: 0 auto;
	position: relative;
	overflow-y: scroll
}

.chapter {
	
}

.chapter p {
	font-size: 20px;
    line-height: 32px;
    display: block;
    margin-bottom: 0;
    padding: 0 38px 40px 0;
}

.exampleTable {
	table-layout:fixed;
    width:100%;
}

.exampleTable th, td {
    border-bottom: 1px solid #ddd;
    overflow:hidden;
}

